.column {
  mat-card-header {
    margin-bottom: 10px;
  }

  mat-card-content {
    min-height: 200px;
  }
}

.column__items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column__item:hover {
  cursor: pointer;
  transform: scale(1.01);
}
